{% extends 'main/layout.html' %}

{% block title %}
Каталог сайтов
{% endblock %}

{% block content %}
<div class="main-content">
    <h1 class="m-0">Сайты</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="m-0">Список ваших проектов</p>
        <a href="{% url 'add_s' %}" class="w-30 btn btn-primary">
            <i class="fas fa-plus-circle"></i> Добавить сайт
        </a>
    </div>

    <div class="container-site-list">
        {% for site in sites_list %}
        <div class="site-card">
            <!-- Название проекта -->
            <h4>{{ site.title }}</h4>
            
            <!-- Ссылка на сайт -->
            <p><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></p>
            
            <!-- Блок с кнопками действий -->
            <div class="action-buttons">
                <!-- Кнопка для просмотра сайта с иконкой глаза -->
                <a href="{% url 'landing' page_id=site.pk %}" class="btn btn-light btn-sm action-btn" title="Просмотреть сайт">
                    <i class="bi bi-eye"></i> Просмотреть
                </a>
                
                <!-- Кнопка для редактирования сайта с иконкой карандаша -->
                <a href="{% url 'edit_s' pk=site.pk %}" class="btn btn-light btn-sm action-btn" title="Редактировать сайт">
                    <i class="bi bi-pencil"></i> Редактировать
                </a>
                
                <!-- Кнопка для удаления сайта с иконкой крестика -->
                <form action="{% url 'delete_s' pk=site.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light btn-sm action-btn" title="Удалить сайт" onclick="return confirm('Вы уверены, что хотите удалить этот сайт?');">
                        <i class="bi bi-x-circle"></i> Удалить
                    </button>
                </form>
            </div>

        </div>
        {% empty %}
        <p>Нет доступных сайтов.</p>
        {% endfor %}
    </div>
    
        
</div>

{% endblock %}
