{% extends 'main/layout.html' %}

{% block title %}
Добавить объект недвижимости
{% endblock %}

{% block content %}
<div class="main-content">

    <h1>Каталог</h1>
    <p1>Создание объекта недвижимости</p1>
    <div class="form-container mt-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if building_form %}
            {{ building_form.as_p }}
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
    </form>
</div>
</div>

{% endblock %}
