{% extends 'main/layout.html' %}

{% block title %}
Каталог недвижимости
{% endblock %}

{% block content %}

<div class="main-content">
    <h1 class="m-0">Каталог</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="m-0">Все объекты недвижимости</p>
        <a href="{% url 'edit' %}" class="w-30 btn btn-primary">
            <i class="fas fa-plus-circle"></i> Добавить недвижимость
        </a>
    </div>

    {% if page_obj.object_list %}
    <div class="table-wrapper">
        <div class="table-container shadow p-4 mb-5 mt-3 bg-white rounded">
            <table class="table table-hover table-fixed-height">
                <thead class="table-dark">
                    <tr>
                        <th class="image-column">Изображение</th>
                       <th class="title-column">
                        <div class="sort-title">
                            Название
                            <div class="sort-container">
                                <a href="?sort=-id{% if page_obj.has_other_pages %}&page={{ page_obj.number }}{% endif %}" class="sort-link">
                                    <i class="bi bi-caret-down-fill"></i> <!-- Стрелочка вниз -->
                                </a>
                            </div>
                        </div>
                        </th>
                        <th class="actions-column">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in page_obj %}
                    <tr>
                        <td class="image-column">
                            {% if item.image %}
                            <img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid" style="width: 100px; height: 70px;">
                            {% else %}
                            Нет изображения
                            {% endif %}
                        </td>
                        <td class="title-column"><a href="{% url 'edit_with_pk' pk=item.pk %}">{{ item.title }}</a></td>
                        <td class="actions-column text-end">
                            <!-- Кнопка для редактирования записи -->
                            <a href="{% url 'edit_with_pk' pk=item.pk %}" class="btn btn-success btn-sm" title="Редактировать">
                                <i class="bi bi-pencil"></i> <!-- Иконка карандаша для редактирования -->
                            </a>
                            <!-- Форма для удаления записи -->
                            <form action="{% url 'delete' pk=item.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary btn-sm" onclick="return confirm('Вы уверены, что хотите удалить эту запись?');">
                                    <i class="bi bi-trash"></i> <!-- Иконка корзины из Bootstrap Icons -->
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                  <!-- Информация о количестве записей -->
                  <div class="record-info mb-3">
                    <p>Показано {{ page_obj.paginator.count }} записей из {{ page_obj.paginator.count }}</p>
                </div>
            <!-- Пагинация, вынесенная за контейнер -->
            <nav aria-label="Page navigation" class="pagination-wrapper mt-3">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                    {% elif num > page_obj.number|add:'-10' and num < page_obj.number|add:'10' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    
    </div>
    {% else %}
    <p>Объекты недвижимости отсутствуют</p>
    {% endif %}
    
</div>
{% endblock %}
