{% extends 'main/layout.html' %}

{% block title %}
Каталог недвижимости
{% endblock %}

{% block content %}

<div class="main-content">
    <h1 class="m-0">Каталог</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="m-0">Все объекты недвижимости</p>
        <a href="{% url 'add' %}" class="w-30 btn btn-primary">
            <i class="fas fa-house fa-sm"></i> Добавить недвижимость
        </a>
    </div>

    <!-- Форма поиска -->
    <form method="get" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Поиск по названию...">
        </div>
    </form>
    <div class="table-wrapper">
        <!-- Кнопки для выбора типа недвижимости -->
<div class="d-flex mb-3 center">
    <a href="{% url 'index' %}" class="btn {% if selected_type == '' %}btn-primary{% else %}btn-outline-secondary{% endif %} me-2 d-inline-flex align-items-center">
        Вся недвижимость
    </a>
    <a href="?type=1" class="btn {% if selected_type == '1' %}btn-primary{% else %}btn-outline-secondary{% endif %} me-2 d-inline-flex align-items-center">
        Новостройки
    </a>
    <a href="?type=2" class="btn {% if selected_type == '2' %}btn-primary{% else %}btn-outline-secondary{% endif %} me-2 d-inline-flex align-items-center">
        Вторичка
    </a>
</div>

        
    
    {% if page_obj %}

        <div class="table-container shadow p-4 mb-5 mt-3 bg-white rounded">
            <table class="table table-hover table-fixed-height">
                <thead class="table-dark">
                    <tr>
                        <th class="image-column">Изображение</th>
                        <th class="title-column">
                            <div class="sort-title">
                                Название
                            </div>
                        </th>
                        <th class="actions-column">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in page_obj %}
                    <tr>
                        <td class="image-column">
                            {% if building.image %}
                            <img src="{{ building.image.url }}" alt="{{ item.title }}" class="img-fluid" style="width: 120px; height: 70px; border: 1px solid #ddd;  border-radius: 2px; padding: 2px;">
                            {% else %}
                            Нет изображения
                            {% endif %}
                        </td>
                        <td class="title-column">
                            <a href="{% url 'edit' pk=building.pk %}">{{ building.title }}</a>
                        </td>
                        <td class="actions-column text-end">
                            <!-- Форма для удаления записи с красной иконкой -->
                            <form action="{% url 'delete' pk=building.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" style="border:none; background:none; padding:0;" onclick="return confirm('Вы уверены, что хотите удалить эту запись?');" class="text-danger">
                                    <i class="bi bi-trash"></i> <!-- Иконка корзины красного цвета -->
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Информация о количестве записей -->
            <div class="record-info mb-3">
                <p>Показано {{ page_obj.paginator.count }} записей из {{ page_obj.paginator.count }}</p>
            </div>
            <!-- Пагинация, вынесенная за контейнер -->
            <nav aria-label="Page navigation" class="pagination-wrapper mt-3">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if selected_type %}&type={{ selected_type }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                    {% elif num > page_obj.number|add:'-10' and num < page_obj.number|add:'10' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if selected_type %}&type={{ selected_type }}{% endif %}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if selected_type %}&type={{ selected_type }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
    <p>Объекты недвижимости отсутствуют.</p>
    {% endif %}
</div>
{% endblock %}
