{% extends 'main/layout.html' %}

{% block title %}
{% if building %}
    Редактировать объект недвижимости
{% else %}
    Добавить объект недвижимости
{% endif %}
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>{{ building.title }}</h1>
    <p>{{ building.type_choise.get_type_choise_display }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="nav nav-tabs" id="propertyTab" role="tablist" style="margin-top: 3%;">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">
                    <i class="fas fa-info-circle fa-sm"></i> ДАННЫЕ ПО ОБЪЕКТУ
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="images-tab" data-bs-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">
                    <i class="fas fa-image fa-sm"></i> ИЗОБРАЖЕНИЕ НА СТРАНИЦЕ ОБЪЕКТА
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="plan-tab" data-bs-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="false">
                    <i class="fas fa-house fa-sm"></i> ПЛАНИРОВКИ КВАРТИР
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="site-tab" data-bs-toggle="tab" href="#site" role="tab" aria-controls="site" aria-selected="false">
                    <i class="fas fa-globe fa-sm"></i> НА САЙТАХ
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="seo-tab" data-bs-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false">
                    <i class="fas fa-search fa-sm"></i> SEO
                </a>
            </li>
        </ul>

                <!-- Контент вкладок -->
                <div class="tab-content mt-3" id="propertyTabContent">
                    <!-- Вкладка "Общие данные" -->
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <!-- Секция 1 -->
                        <div class="form-section">
                            <h3>Основные данные</h3>
                            <div class="form-container mt-3">
                                <div class="form-group">
                                    {{ form.title.label_tag }} {{ form.title }}
                                </div>
                                <div class="form-group">
                                    {{ form.category.label_tag }} {{ form.category }}
                                </div>

                                <div class="form-group form-inline">
                                    <div class="inline-field">
                                    {{ form.square.label_tag }} {{ form.square }}
                                    </div>
                                    <div class="inline-field">
                                    {{ form.floor.label_tag }} {{ form.floor }}
                                    </div>
                                    <div class="inline-field">
                                    {{ form.all_floor.label_tag }} {{ form.all_floor }}
                                    </div>
                                    <div class="inline-field">
                                    {{ form.price.label_tag }} {{ form.price}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.description1.label_tag }} {{ form.description1 }}
                                </div>
                                <div class="form-group">
                                    {{ form.video.label_tag }} {{ form.video }}
                                </div>

                            </div>
                            <h3>Местоположение</h3>
                            <div class="form-container mt-3">
                                <div class="form-group">
                                    {{ form.location.label_tag }} {{ form.location }}
                                </div>
                                <div class="form-group">
                                    {{ form.adres.label_tag }} {{ form.adres }}
                                </div>
                            </div>
                            <h3>Характеристики</h3>
                            <div class="form-container mt-3">
                                <div class="form-group">
                                    {{ form.characteristic.label_tag }} {{ form.characteristic }}
                                </div>
                                <div class="form-group">
                                    {{ form.description2.label_tag }} {{ form.description2 }}
                                </div>
                            </div>
                            <h3>Преимущества</h3>
                            <div class="form-container mt-3">
                                <div class="form-group">
                                    {{ form.advantages.label_tag }} {{ form.advantages }}
                                </div>
                                <div class="form-group">
                                    {{ form.deteil_description.label_tag }} {{ form.deteil_description }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
                        

                        </div>
                    </div>
                </div>
            </form>
</div>
{% endblock %}
