{% extends 'main/layout.html' %}

{% block title %}
    {% if building %}
        Редактировать объект недвижимости
    {% else %}
        Добавить объект недвижимости
    {% endif %}
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>{{ building.title }}</h1>
    <p>{{ building.type_choise.get_type_choise_display }}</p>
    <form method="post" enctype="multipart/form-data" id="Form_id2">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mt-3">Сохранить изменения</button>
        <ul class="nav nav-tabs" id="propertyTab" role="tablist" style="margin-top: 3%;">
            <li class="nav-item" role="presentation" style="font-size: 14px;">
                <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">
                    <i class="fas fa-info-circle fa-sm"></i> ДАННЫЕ ПО ОБЪЕКТУ
                </a>
            </li>
            <li class="nav-item" role="presentation" style="font-size: 14px;">
                <a class="nav-link" id="images-tab" data-bs-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">
                    <i class="fas fa-image fa-sm"></i> ИЗОБРАЖЕНИЕ НА СТРАНИЦЕ ОБЪЕКТА
                </a>
            </li>
            <li class="nav-item" role="presentation" style="font-size: 14px;">
                <a class="nav-link" id="plan-tab" data-bs-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="false">
                    <i class="fas fa-house fa-sm"></i> ПЛАНИРОВКИ
                </a>
            </li>
            <li class="nav-item" role="presentation" style="font-size: 14px;">
                <a class="nav-link" id="site-tab" data-bs-toggle="tab" href="#site" role="tab" aria-controls="site" aria-selected="false">
                    <i class="fas fa-globe fa-sm"></i> НА САЙТАХ
                </a>
            </li>
            <li class="nav-item" role="presentation" style="font-size: 14px;">
                <a class="nav-link" id="seo-tab" data-bs-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false">
                    <i class="fas fa-search fa-sm"></i> SEO
                </a>
            </li>
        </ul>

        <!-- Контент вкладок -->
        <div class="tab-content mt-3" id="propertyTabContent">
            <!-- Вкладка "Общие данные" -->
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <div class="form-section">
                    <h3>Основные данные</h3>
                    <div class="form-container mt-3">
                        <div class="form-group">
                            {{ form.title.label_tag }} {{ form.title }}
                        </div>
                        <div class="form-group">
                            {{ form.category.label_tag }} {{ form.category }}
                        </div>
                        <div class="form-group form-inline">
                            <div class="inline-field">
                                {{ form.square.label_tag }} {{ form.square }}
                            </div>
                            <div class="inline-field">
                                {{ form.floor.label_tag }} {{ form.floor }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div class="inline-field">
                                {{ form.all_floor.label_tag }} {{ form.all_floor }}
                            </div>
                            <div class="inline-field">
                                {{ form.price.label_tag }} {{ form.price }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.description1.label_tag }} {{ form.description1 }}
                        </div>
                        <div class="form-group">
                            {{ form.video.label_tag }} {{ form.video }}
                        </div>
                    </div>
                    <h3>Местоположение</h3>
                    <div class="form-container mt-3">
                        <div class="form-group">
                            {{ form.location.label_tag }} {{ form.location }}
                        </div>
                        <div class="form-group">
                            {{ form.adres.label_tag }} {{ form.adres }}
                        </div>
                    </div>

                    <h3>Преимущества</h3>
                    <div class="form-container mt-3">
                        <div class="form-group mt-3">
                            {{ form.advantages.label_tag }} {{ form.advantages }}
                        </div>
                        <div class="form-group mt-3">
                            {{ form.deteil_description.label_tag }} {{ form.deteil_description }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Вкладка "Изображения" -->
            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                <div class="form-section">
                    <h3>Изображения</h3>
                    <div class="form-container-image">
                        <!-- Форма для основного изображения -->
                        <div class="form-group">
                            <div class="form-header">
                                <h6>Главное фото объекта</h6>
                                <div class="custom-file-upload">
                                    <input type="file" id="{{ form.image.id_for_label }}" name="{{ form.image.html_name }}" class="custom-file-input" />
                                    <label for="{{ form.image.id_for_label }}" class="custom-file-label">Выберите файл</label>
                                </div>
                            </div>
                            <div class="image-preview mt-2">
                                <div id="imagePreviewContainerImage" class="image-preview-container">
                                </div>
                            </div>
                        </div>
                        <!-- Основное изображение -->
                        {% if building.image %}
                        <div class="image-container-building">
                            <div class="image-wrapper-building">
                                <img src="{{ building.image.url }}" alt="Image" class="img-thumbnail">
                                <button type="button" onclick="submitDeleteForm('{{ building.pk }}')" class="delete-btn-building">
                                    <div class="remove-image-building">×</div>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                        <div class="divider"></div>
                        <!-- Форма для изображений в слайдере -->
                        <div class="form-group2">
                            <div class="form-header">
                                <h6>Изображение для слайдера</h6>
                                <div class="custom-file-upload">
                                    <input type="file" id="{{ image_form.image_s.id_for_label }}" name="{{ image_form.image_s.html_name }}" class="custom-file-input" multiple />
                                    <label for="{{ image_form.image_s.id_for_label }}" class="custom-file-label">Выберите файл</label>
                                </div>
                            </div>
                            <div class="image-preview mt-2">
                                <div id="imagePreviewContainerImageS" class="image-preview-container">
                                </div>
                            </div>
                        </div>
                        <!-- Изображения в слайдере -->
                        <div class="image-gallery">
                            {% for image in image_list %}
                            {% if image.image_s %}
                            <div class="image-container">
                                <div class="image-wrapper">
                                    <img src="{{ image.image_s.url }}" alt="Image" class="img-thumbnail" style="width: 270px; height: 156px;">
                                    <button type="button" class="delete-btn" onclick="submitDeleteForm('{{ image.pk }}')">
                                        <div class="remove-image">×</div>
                                    </button>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-tab">
                <div class="form-section">
                    <h3>Планировки</h3>
                    {{ plans_form.plan_id }}
                    <div class="form-and-list-container">
                        <div class="form-container-plans mt-3">
                            <div class="form-group">
                                {{ plans_form.type_building.label_tag }} {{ plans_form.type_building }}
                            </div>
                            <div class="form-group">
                                {{ plans_form.quanty_room.label_tag }} {{ plans_form.quanty_room }}
                            </div>
                            <div class="form-group form-inline">
                                <div class="inline-field">
                                    {{ plans_form.total_area_from.label_tag }} {{ plans_form.total_area_from }}
                                </div>
                                <div class="inline-field">
                                    {{ plans_form.total_area_upto.label_tag }} {{ plans_form.total_area_upto }}
                                </div>
                                <div class="inline-field">
                                    {{ plans_form.price_from.label_tag }} {{ plans_form.price_from }}
                                </div>
                                <div class="inline-field">
                                    {{ plans_form.price_upto.label_tag }} {{ plans_form.price_upto }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ plans_form.description.label_tag }} {{ plans_form.description }}
                            </div>
            
                            <h6>Планировки:</h6>
                            <div class="custom-file-upload">
                                <input type="file" 
                                       id="{{ image_plans_form.image_plans.id_for_label }}" 
                                       name="{{ image_plans_form.image_plans.html_name }}" 
                                       class="custom-file-input" 
                                       multiple />
                                <label for="{{ image_plans_form.image_plans.id_for_label }}" 
                                       class="custom-file-label">
                                    Выберите файл
                                </label>
                            </div>
                            <div class="image-preview mt-2">
                                <div id="imagePreviewContainerImagePlans" 
                                     class="image-preview-container">
                                </div>
                            </div>
                        </div>
            
                        <div class="plans-list-container mt-3">
                            {% for plan in plans_list %}
                            <div class="form-container-3">
                                <ul>
                                    <li>
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Тип здания</th>
                                                <td>{{ plan.type_building|default_if_none:"" }}</td>
                                            </tr>
                                            <tr>
                                                <th>Количество комнат</th>
                                                <td>{{ plan.quanty_room|default_if_none:"" }}</td>
                                            </tr>
                                            <tr>
                                                <th>Площадь</th>
                                                <td>
                                                    от {{ plan.total_area_from|default_if_none:"" }} м² 
                                                    до {{ plan.total_area_upto|default_if_none:"" }} м²
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Цена</th>
                                                <td>
                                                    от {{ plan.price_from|default_if_none:"" }} руб. 
                                                    до {{ plan.price_upto|default_if_none:"" }} руб.
                                                </td>
                                            </tr>
                                        </table>
                                        <button type="button" class="btn btn-primary btn-sm edit-plan-btn"
                                                data-plan-id="{{ plan.id }}"
                                                data-type-building="{{ plan.type_building }}"
                                                data-quanty-room="{{ plan.quanty_room }}"
                                                data-total-area-from="{{ plan.total_area_from }}"
                                                data-total-area-upto="{{ plan.total_area_upto }}"
                                                data-price-from="{{ plan.price_from }}"
                                                data-price-upto="{{ plan.price_upto }}"
                                                data-description="{{ plan.description }}">
                                            <i class="bi bi-pencil-square"> Редактировать</i>

                                        </button>
                                        <!-- Кнопка удаления для каждого плана -->
                                        <button type="button" 
                                        class="btn btn-danger btn-sm" 
                                        onclick="submitDeleteForm('{{ plan.pk }}')">
                                    <i class="bi bi-trash"> Удалить</i>
                                </button>
                                        
                        
                                        <!-- Изображения, связанные с этим планом -->

                                        <div class="image-container-plans">
                                            {% for image in plan.images.all %}
                                                {% if image.image_plans %}
                                                <div class="image-container">
                                                    <div class="image-wrapper-plans">
                                                        <img src="{{ image.image_plans.url }}" 
                                                             alt="Image" 
                                                             class="img-thumbnail">
                                                        <button type="button" class="delete-btn" onclick="submitDeleteForm('{{ image.pk }}')">
                                                            <div class="remove-image">×</div>
                                                        </button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% empty %}
                                            <p>Нет изображений для этого плана.</p>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% empty %}
                            <p>Нет добавленных планировок.</p>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tab">
                <div class="form-section">
                    <h3>SEO</h3>
                    <div class="form-container mt-3">
                    <div class="form-group">
                        {{ seo_form.as_p }}
                    </div>
                    </div>
                </div>
            </div>
            
            
</form>
<button type="submit" class="btn btn-primary mt-3" id="externalSubmitButton">Сохранить</button>


{% for plans in plans_list %}
{% if plans %}
<form action="{% url 'delete_plans' plans.pk %}" method="post" class="delete-form" id="FormDelete-{{ plans.pk }}">
    {% csrf_token %}
</form> 
{% endif %}
{% endfor %}

    {% for image in image_list %}
    {% if image.image_s %}
    <form action="{% url 'delete_image' image.pk 'image_s' %}" method="post" class="delete-form" id="FormDelete-{{ image.pk }}">
        {% csrf_token %}
    </form>
    {% endif %}
    {% endfor %}

    {% if building.image %}
    <form action="{% url 'delete_image_building' building.pk %}" method="post" class="delete-form" id="FormDelete-{{ building.pk }}">
        {% csrf_token %}
        <input type="hidden" name="building_id" value="{{ building.pk }}">
    </form>
    {% endif %}
</div>
{% for plan in plans_list %}
{% for image in plan.images.all %}
{% if image.image_plans %}
<form action="{% url 'delete_image' image.pk 'image_plans' %}" method="post" class="delete-form" id="FormDelete-{{ image.pk }}" style="display: inline;">
    {% csrf_token %}
</form>
{% endif %}
{% endfor %}
{% endfor %}


<script>
  function setupImagePreview(inputId, previewContainerId) {
    document.getElementById(inputId).addEventListener('change', function(event) {
        var files = event.target.files;
        var previewContainer = document.getElementById(previewContainerId);

        // Очистка контейнера предварительного просмотра
        previewContainer.innerHTML = '';

        Array.from(files).forEach(file => {
            var reader = new FileReader();
            reader.onload = function(e) {
                var container = document.createElement('div');
                container.style.position = 'relative';
                container.style.display = 'inline-block';

                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '400px';
                img.style.maxHeight = '250px';
                img.style.objectFit = 'cover';
                img.style.marginRight = '10px';

                var closeButton = document.createElement('button');
                closeButton.textContent = '×'; // Или иконка крестика
                closeButton.style.position = 'absolute';
                closeButton.style.top = '1px';
                closeButton.style.right = '20px';
                closeButton.style.border = 'none';
                closeButton.style.background = 'none';
                closeButton.style.color = 'red';
                closeButton.style.fontSize = '20px';
                closeButton.style.cursor = 'pointer';

                closeButton.addEventListener('click', function() {
                    // Очистка предварительного просмотра и сброс поля загрузки
                    previewContainer.innerHTML = '';
                    document.getElementById(inputId).value = ''; // Сброс поля загрузки
                });

                container.appendChild(img);
                container.appendChild(closeButton);
                previewContainer.appendChild(container);
            };
            reader.readAsDataURL(file);
        });
    });
}

// Инициализация предварительного просмотра для каждого элемента
setupImagePreview('id_image_plans', 'imagePreviewContainerImagePlans');
setupImagePreview('id_image', 'imagePreviewContainerImage');
setupImagePreview('id_image_s', 'imagePreviewContainerImageS');



document.getElementById('externalSubmitButton').addEventListener('click', function() {
        document.getElementById('Form_id2').submit();
    });


 // Функция для формы удаления изображений
function submitDeleteForm(imageId) {
    var form = document.getElementById('FormDelete-' + imageId);
    if (form) {
        form.submit();
    }
}
document.addEventListener('DOMContentLoaded', function() {

function clearPlanTabFields() {
    // Очистка полей формы во вкладке "Планировки квартир"
    var planTab = document.getElementById('plan');
    if (planTab) {
        // Очистка всех текстовых полей и текстовых областей
        planTab.querySelectorAll('input[type="text"], input[type="number"], textarea, select').forEach(function(element) {
            element.value = '';
        });

        // Очистка всех файлов
        planTab.querySelectorAll('input[type="file"]').forEach(function(fileInput) {
            fileInput.value = ''; // Очистка значения файла
            var previewContainer = fileInput.nextElementSibling; // Предполагается, что предварительный просмотр следует сразу после input
            if (previewContainer && previewContainer.classList.contains('image-preview-container')) {
                previewContainer.innerHTML = ''; // Очистка предварительного просмотра
            }
        });

        // Очистка списка планов (если нужно)
        var planList = document.getElementById('plan-list');
        if (planList) {
            planList.innerHTML = ''; // Очистка списка планов
        }
    }
}

// Очистка формы только во вкладке "Планировки квартир" при загрузке страницы
clearPlanTabFields();


// Обработка кликов по ссылкам с планами
document.querySelectorAll('.edit-plan-btn').forEach(function(link) {
    link.addEventListener('click', function(event) {
        event.preventDefault();

        // Получаем данные из атрибутов ссылки
        const planId = link.getAttribute('data-plan-id');
        const typeBuilding = link.getAttribute('data-type-building');
        const quantyRoom = link.getAttribute('data-quanty-room');
        const totalAreaFrom = link.getAttribute('data-total-area-from');
        const totalAreaUpto = link.getAttribute('data-total-area-upto');
        const priceFrom = link.getAttribute('data-price-from');
        const priceUpto = link.getAttribute('data-price-upto');
        const description = link.getAttribute('data-description');

        // Устанавливаем значения в форму
        document.getElementById('id_plan_id').value = planId;
        document.getElementById('id_type_building').value = typeBuilding;
        document.getElementById('id_quanty_room').value = quantyRoom;
        document.getElementById('id_total_area_from').value = totalAreaFrom;
        document.getElementById('id_total_area_upto').value = totalAreaUpto;
        document.getElementById('id_price_from').value = priceFrom;
        document.getElementById('id_price_upto').value = priceUpto;
        document.getElementById('id_description').value = description;
    });
});
});


document.querySelectorAll('.nav-link').forEach(function(link) {
    link.addEventListener('click', function() {
        var target = link.getAttribute('href');

        // Проверка, начинается ли значение с #
        if (target && target.startsWith('#')) {
            localStorage.setItem('activeTab', target);  // Сохраняем только корректное значение
            console.log('Tab clicked, activeTab saved to localStorage:', target);
        } else {
            console.warn('Ignored invalid tab selector:', target);  // Логируем некорректное значение
        }
    });
});


document.addEventListener('DOMContentLoaded', function() {
    var activeTab = localStorage.getItem('activeTab');

    // Если нет сохраненной вкладки или она некорректна, используем вкладку по умолчанию (например, #general)
    if (!activeTab || !activeTab.startsWith('#')) {
        activeTab = '#general';
        localStorage.setItem('activeTab', activeTab);  // Обновляем значение в localStorage
    }

    // Удаляем активные классы
    document.querySelectorAll('.nav-link').forEach(function(link) {
        link.classList.remove('active');
    });
    document.querySelectorAll('.tab-pane').forEach(function(pane) {
        pane.classList.remove('show', 'active');
    });

    // Устанавливаем активное состояние для сохраненной вкладки
    var activeLink = document.querySelector(`a[href="${activeTab}"]`);
    var activePane = document.querySelector(activeTab);

    if (activeLink && activePane) {
        activeLink.classList.add('active');
        activePane.classList.add('show', 'active');
    } else {
        // Если вкладка не найдена, активируем вкладку по умолчанию
        document.querySelector('a[href="#general"]').classList.add('active');
        document.querySelector('#general').classList.add('show', 'active');
    }
});



    // Обработка кликов по вкладкам
    document.querySelectorAll('.nav-link').forEach(function(link) {
        link.addEventListener('click', function() {
            var target = link.getAttribute('href');
            localStorage.setItem('activeTab', target);
        });
    });

</script>

{% endblock %}

          