* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.custom-sidebar {
    background-color: #212529; /* Темный фон для боковой панели */
    width: 320px; /* Фиксированная ширина боковой панели */
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Устанавливает уровень отображения */
    overflow-y: auto; /* Позволяет прокрутку содержимого боковой панели */
    box-shadow: 2px 0 6px #868686; /* Тень для боковой панели */
  }

.custom-sidebar .nav-link {
  color: #f0f0f0; /* Белый цвет текста для ссылок в боковой панели */
}

.custom-sidebar a:hover {
  color: #d1d0d0; /* Цвет текста при наведении */
}

.main-content {
  margin-top: 20px;
  margin-left: 70px; /* Создает отступ для основного контента */
  max-width: calc(100% - 50px); /* Ограничивает ширину основного контента */
  margin-bottom: 20px;
}
.button-right {
  margin-left: 80%;
}

.header-container {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between; /* Разделение заголовка и кнопки по краям */
  margin-bottom: 20px; /* Отступ снизу, если нужно */
}
.header-container h1 {
  margin: 0; /* Убираем стандартные отступы у заголовка */
}

.header-container .btn {
  margin-bottom: 20px; /* Убираем стандартные отступы у кнопки */
}

.dropdown-menu {
  background-color: #393f46; /* Темный фон для выпадающего меню */
}

.dropdown-item {
  color: white; /* Белый цвет текста для элементов выпадающего меню */
}

.dropdown-item:hover {
  color: #ffffff; /* Цвет текста при наведении на элемент */
  background-color: #000000; /* Фон при наведении на элемент */
}

.dropdown-toggle {
  color: white; /* Белый цвет текста для кнопки, открывающей меню */
}

.divider-custom {
  border-top: 1px solid #ffffff; /* Белый разделитель */
  margin: 1rem 0; /* Отступы для разделителя */
}

.custom-icon {
  font-size: 28px;
  margin-top: 20px;
  color: #ffffff; /* Исходный цвет иконки */
  transition: color 0.3s; /* Плавный переход цвета */
}

.custom-icon:hover {
  color: #1f8bff; /* Синий цвет при наведении */
}

/* Стили для отступов и ширины колонок */
.table .image-column {
  width: 12%; /* Ширина колонки с изображением */
}

.table .title-column {
  width: 63%; /* Ширина колонки с названием */
}

.table .actions-column {
  width: 25%; /* Ширина колонки с действиями */
}

.table-fixed-height tbody tr {
  height: 70px; /* Установите фиксированную высоту для строк */
}

.table-fixed-height td, .table-fixed-height th {
  vertical-align: middle; /* Вертикальное выравнивание содержимого ячеек */
}

.table .btn i.bi-trash {
  font-size: 0,5rem; /* Уменьшает размер иконки до 1rem */
} 

.form-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50%; /* Установите желаемую максимальную ширину */
  margin: 0 auto; /* Центрируйте контейнер на странице */
  padding: 40px; /* Добавьте отступы внутри контейнера */
  border: 1px solid #ddd; /* Добавьте рамку вокруг контейнера */
  border-radius: 8px; /* Добавьте скругленные углы */
  background-color: #f9f9f9; /* Добавьте фон */
  margin-left: 0px;
  margin-top: 50px; /* Добавьте отступ между контейнерами */
  margin-bottom: 45px; /* Добавьте отступ между контейнерами */
}

.form-container-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Установите желаемую максимальную ширину */
  margin: 0 auto; /* Центрируйте контейнер на странице */
  padding: 40px; /* Добавьте отступы внутри контейнера */
  border: 1px solid #ddd; /* Добавьте рамку вокруг контейнера */
  border-radius: 8px; /* Добавьте скругленные углы */
  background-color: #f9f9f9; /* Добавьте фон */
  margin-left: 0px;
  margin-top: 20px; /* Добавьте отступ между контейнерами */
  margin-bottom: 45px; /* Добавьте отступ между контейнерами */
}

.form-group {
  margin-bottom: 15px;
}

.container {
  margin-bottom: 20px; /* Отступ между секциями */
}

.container h3 {
  margin-bottom: 10px;
}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Регулируйте расстояние между полями */
}

.inline-field {
  flex: 1;
  min-width: 200px; /* Минимальная ширина каждого поля, настройте по необходимости */
}

.form-section {
  margin-bottom: 40px; /* Отступ снизу для каждой секции */
}

.form-section h3 {
  margin-top: 30px;
  margin-bottom: 10px; /* Отступ снизу для заголовков */
}

.form-group {
  margin-bottom: 20px; /* Отступ снизу для каждой группы полей */
}

.type-selection-form label {
  font-weight: bold; /* Жирный текст для метки */
  margin-right: 10px; /* Отступ справа от метки */
}

.type-selection-form select {

  padding: 8px 12px; /* Внутренний отступ */
  border-radius: 4px; /* Округленные углы */
  border: 1px solid #ced4da; /* Светлый цвет границы */
  font-size: 1rem; /* Размер шрифта */
}

.type-selection-form select:focus {
  border-color: #80bdff; /* Цвет границы при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
  outline: none; /* Убирает стандартный outline */
}

.sort-title {
  display: flex;
  align-items: center; /* Центрирует элементы по вертикали */
  gap: 10px; /* Пробел между текстом и стрелочками */
}

.sort-container {
  display: flex;
  flex-direction: column; /* Располагает стрелочки вертикально */
}

.sort-link {
  color: inherit; /* Наследует цвет текста из родительского элемента */
  text-decoration: none; /* Убирает подчеркивание ссылок */
}

.sort-link:hover {
  color: #007bff; /* Цвет при наведении */
}


* Стили для контейнера предварительного просмотра изображений */
.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Отступы между изображениями */
}

.image-preview-container img {
    max-width: 150px; /* Максимальная ширина изображений */
    height: auto; /* Высота автоматически пропорциональна ширине */
    border: 1px solid #ddd; /* Тонкая рамка вокруг изображений */
    border-radius: 5px; /* Закругленные углы */
    padding: 5px; /* Внутренние отступы */
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.remove-image {
  position: absolute;

  right: 4px;
  background-color:none;
  color: red;
  cursor: pointer;
  opacity: 0; /* Скрыть крестик по умолчанию */
  transition: opacity 0.3s ease; /* Плавное появление и исчезновение крестика */

}

/* Контейнер для галереи изображений */
.image-gallery {
  display: flex;
  flex-wrap: wrap; /* Позволяет переносить изображения на новую строку, если не помещаются в одной */
  gap: 25px; /* Опционально, задает расстояние между изображениями */
}

/* Контейнер для изображения и кнопки удаления */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание содержимого по центру контейнера */
}

/* Обертка для изображения и кнопки удаления */
.image-wrapper:hover .remove-image {
  opacity: 1; /* Показать крестик при наведении */
  position: relative; /* Установка относительного позиционирования для контейнера */
  display: inline-block;
}

.image-wrapper-building:hover .remove-image-building {
  opacity: 1; /* Показать крестик при наведении */

}

/* Стили для изображения */
.img-thumbnail {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Стили для кнопки удаления */
.delete-btn {
  position: absolute; /* Абсолютное позиционирование кнопки */
  top: 1px; /* Отступ сверху */
  right: 3px; /* Отступ справа */
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
}

/* Стили для кнопки удаления */
.delete-btn-building {
  position: absolute; /* Абсолютное позиционирование кнопки */
  top: 5px; /* Отступ сверху */
  right: 20px; /* Отступ справа */
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
}

.remove-image-building {
  top: 0px; /* Отступ сверху */
  right: 60px; /* Отступ справа */
  color: red;
  display: inline-block;
  background-color: none; /* Полупрозрачный фон для лучшего видимости */
  border-radius: 50%; /* Круглый фон */
  padding: 5px; /* Немного отступов вокруг крестика */
  opacity: 0; /* Скрыть крестик по умолчанию */
  transition: opacity 0.3s ease; /* Плавное появление и исчезновение крестика */

}

.image-container-building {
  position: relative;
  display: inline-block;
  width: 50%;
}

/* Скрыть стандартный элемент input типа file */
.custom-file-upload input[type="file"] {
  display: none;
}

/* Стиль для пользовательской кнопки */
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: #fff;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Стили для метки файла, чтобы имитировать кнопку */
.custom-file-label {
  display: inline-block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  cursor: pointer;
}

.custom-file-label:hover {
  background-color: #d6d6d6;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 30px 0;
}

.form-header {
  display: flex;
  align-items: center; /* Вертикальное выравнивание по центру */
  justify-content: space-between; /* Распределение пространства между элементами */
}