* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.custom-sidebar {
    background-color: #212529; /* Темный фон для боковой панели */
    width: 320px; /* Фиксированная ширина боковой панели */
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Устанавливает уровень отображения */
    overflow-y: auto; /* Позволяет прокрутку содержимого боковой панели */
    box-shadow: 2px 0 6px #868686; /* Тень для боковой панели */

  }



.custom-sidebar .nav-link {
  color: #f0f0f0; /* Белый цвет текста для ссылок в боковой панели */
}

.custom-sidebar a:hover {
  color: #d1d0d0; /* Цвет текста при наведении */
}

.main-content {
  margin-top: 20px;
  margin-left: 70px; /* Создает отступ для основного контента */
  max-width: calc(100% - 50px); /* Ограничивает ширину основного контента */
  margin-bottom: 20px;
}
.button-right {
  margin-left: 80%;
}

.header-container {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between; /* Разделение заголовка и кнопки по краям */
  margin-bottom: 20px; /* Отступ снизу, если нужно */
}
.header-container h1 {
  margin: 0; /* Убираем стандартные отступы у заголовка */
}

.header-container .btn {
  margin-bottom: 20px; /* Убираем стандартные отступы у кнопки */
}

.dropdown-menu {
  background-color: #393f46; /* Темный фон для выпадающего меню */
}

.dropdown-item {
  color: white; /* Белый цвет текста для элементов выпадающего меню */
}

.dropdown-item:hover {
  color: #ffffff; /* Цвет текста при наведении на элемент */
  background-color: #000000; /* Фон при наведении на элемент */
}

.dropdown-toggle {
  color: white; /* Белый цвет текста для кнопки, открывающей меню */
}

.divider-custom {
  border-top: 1px solid #ffffff; /* Белый разделитель */
  margin: 1rem 0; /* Отступы для разделителя */
}

.custom-icon {
  font-size: 28px;
  margin-top: 20px;
  color: #ffffff; /* Исходный цвет иконки */
  transition: color 0.3s; /* Плавный переход цвета */
}

.custom-icon:hover {
  color: #1f8bff; /* Синий цвет при наведении */
}

/* Стили для отступов и ширины колонок */
.table .image-column {
  width: 12%; /* Ширина колонки с изображением */
}

.table .title-column {
  width: 63%; /* Ширина колонки с названием */
}

.table .actions-column {
  width: 25%; /* Ширина колонки с действиями */
}

.table-fixed-height tbody tr {
  height: 70px; /* Установите фиксированную высоту для строк */
}

.table-fixed-height td, .table-fixed-height th {
  vertical-align: middle; /* Вертикальное выравнивание содержимого ячеек */
}

.table .btn i.bi-trash {
  font-size: 0,5rem; /* Уменьшает размер иконки до 1rem */
} 

.form-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50%; /* Установите желаемую максимальную ширину */
  margin: 0 auto; /* Центрируйте контейнер на странице */
  padding: 40px; /* Добавьте отступы внутри контейнера */
  border: 1px solid #ddd; /* Добавьте рамку вокруг контейнера */
  border-radius: 8px; /* Добавьте скругленные углы */
  background-color: #f9f9f9; /* Добавьте фон */
  margin-left: 0px;
  margin-top: 50px; /* Добавьте отступ между контейнерами */
  margin-bottom: 45px; /* Добавьте отступ между контейнерами */
}

.form-container-theme {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Установите желаемую максимальную ширину */
  width: 40%;
  padding: 40px; /* Добавьте отступы внутри контейнера */
  border: 1px solid #ddd; /* Добавьте рамку вокруг контейнера */
  border-radius: 8px; /* Добавьте скругленные углы */
  background-color: #f9f9f9; /* Добавьте фон */
  margin-left: 0px;
  margin-top: 50px; /* Добавьте отступ между контейнерами */
  margin-bottom: 45px; /* Добавьте отступ между контейнерами */
}


.form-section-flex {
  display: flex;
  gap: 30px; /* Расстояние между элементами */
  align-items: flex-start; /* Выравнивание по верхнему краю */
}

.form-container-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Установите желаемую максимальную ширину */
  margin: 0 auto; /* Центрируйте контейнер на странице */
  padding: 40px; /* Добавьте отступы внутри контейнера */
  border: 1px solid #ddd; /* Добавьте рамку вокруг контейнера */
  border-radius: 8px; /* Добавьте скругленные углы */
  background-color: #f9f9f9; /* Добавьте фон */
  margin-left: 0px;
  margin-top: 20px; /* Добавьте отступ между контейнерами */
  margin-bottom: 45px; /* Добавьте отступ между контейнерами */
}

.form-group {
  margin-bottom: 15px;
}

.container {
  margin-bottom: 20px; /* Отступ между секциями */
}

.container h3 {
  margin-bottom: 10px;
}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Регулируйте расстояние между полями */
}

.inline-field {
  flex: 1;
  min-width: 200px; /* Минимальная ширина каждого поля, настройте по необходимости */
}

.form-section {
  margin-bottom: 40px; /* Отступ снизу для каждой секции */
}

.form-section h3 {
  margin-top: 30px;
  margin-bottom: 10px; /* Отступ снизу для заголовков */
}

.form-group {
  margin-bottom: 20px; /* Отступ снизу для каждой группы полей */
}

.type-selection-form label {
  font-weight: bold; /* Жирный текст для метки */
  margin-right: 10px; /* Отступ справа от метки */
}

.type-selection-form select {

  padding: 8px 12px; /* Внутренний отступ */
  border-radius: 4px; /* Округленные углы */
  border: 1px solid #ced4da; /* Светлый цвет границы */
  font-size: 1rem; /* Размер шрифта */
}

.type-selection-form select:focus {
  border-color: #80bdff; /* Цвет границы при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
  outline: none; /* Убирает стандартный outline */
}

.sort-title {
  display: flex;
  align-items: center; /* Центрирует элементы по вертикали */
  gap: 10px; /* Пробел между текстом и стрелочками */
}

.sort-container {
  display: flex;
  flex-direction: column; /* Располагает стрелочки вертикально */
}

.sort-link {
  color: inherit; /* Наследует цвет текста из родительского элемента */
  text-decoration: none; /* Убирает подчеркивание ссылок */
}

.sort-link:hover {
  color: #007bff; /* Цвет при наведении */
}


* Стили для контейнера предварительного просмотра изображений */
.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Отступы между изображениями */
}

.image-preview-container img {
    max-width: 150px; /* Максимальная ширина изображений */
    height: auto; /* Высота автоматически пропорциональна ширине */
    border: 1px solid #ddd; /* Тонкая рамка вокруг изображений */
    border-radius: 5px; /* Закругленные углы */
    padding: 5px; /* Внутренние отступы */
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.remove-image {
  position: absolute;

  right: 4px;
  background-color:none;
  color: red;
  cursor: pointer;
  opacity: 0; /* Скрыть крестик по умолчанию */
  transition: opacity 0.3s ease; /* Плавное появление и исчезновение крестика */

}

/* Контейнер для галереи изображений */
.image-gallery {
  display: flex;
  flex-wrap: wrap; /* Позволяет переносить изображения на новую строку, если не помещаются в одной */
  gap: 25px; /* Опционально, задает расстояние между изображениями */
}

/* Контейнер для изображения и кнопки удаления */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание содержимого по центру контейнера */
}

/* Обертка для изображения и кнопки удаления */
.image-wrapper:hover .remove-image {
  opacity: 1; /* Показать крестик при наведении */
  position: relative; /* Установка относительного позиционирования для контейнера */
  display: inline-block;
}

.image-wrapper-building:hover .remove-image-building {
  opacity: 1; /* Показать крестик при наведении */

}

/* Стили для изображения */
.img-thumbnail {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Стили для кнопки удаления */
.delete-btn {
  position: absolute; /* Абсолютное позиционирование кнопки */
  top: 1px; /* Отступ сверху */
  right: 3px; /* Отступ справа */
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
}

/* Стили для кнопки удаления */
.delete-btn-building {
  position: absolute; /* Абсолютное позиционирование кнопки */
  top: 1px; /* Отступ сверху */
  right: 3px; /* Отступ справа */
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
}

.remove-image-building {
  top: 0px; /* Отступ сверху */
  right: 10px; /* Отступ справа */
  color: red;
  display: inline-block;
  background-color: none; /* Полупрозрачный фон для лучшего видимости */
  border-radius: 50%; /* Круглый фон */
  padding: 5px; /* Немного отступов вокруг крестика */
  opacity: 0; /* Скрыть крестик по умолчанию */
  transition: opacity 0.3s ease; /* Плавное появление и исчезновение крестика */

}

.image-container-building {
  position: relative;
  display: inline-block;
  width: 50%;
}

/* Скрыть стандартный элемент input типа file */
.custom-file-upload input[type="file"] {
  display: none;
}

/* Стиль для пользовательской кнопки */
.custom-file-upload {
  display: block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: #fff;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Стили для метки файла, чтобы имитировать кнопку */
.custom-file-label {
  display: inline-block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  cursor: pointer;
}

.custom-file-label:hover {
  background-color: #d6d6d6;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 30px 0;
}
.divider-min {
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.form-header {
  display: flex;
  align-items: center; /* Вертикальное выравнивание по центру */
  justify-content: space-between; /* Распределение пространства между элементами */
}


.form-container-plans {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50%; /* Установите желаемую максимальную ширину */
  margin: 0 auto; /* Центрируйте контейнер на странице */
  padding: 40px; /* Добавьте отступы внутри контейнера */
  border: 1px solid #ddd; /* Добавьте рамку вокруг контейнера */
  border-radius: 8px; /* Добавьте скругленные углы */
  background-color: #f9f9f9; /* Добавьте фон */
  margin-left: 0px;
  margin-top: 50px; /* Добавьте отступ между контейнерами */
  margin-bottom: 45px; /* Добавьте отступ между контейнерами */
  flex: 2; /* Форма занимает одну часть пространства */
}

.form-and-list-container {
  display: flex; /* Выравнивание элементов в одну строку */
  gap: 30px; /* Расстояние между элементами */
  align-items: flex-start; /* Выравнивание элементов по верхнему краю */
  
}


.plans-list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 2; /* Форма занимает одну часть пространства */
}

.form-container-3 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px; /* Добавьте отступы внутри контейнера */
  border: 1px solid #ddd; /* Добавьте рамку вокруг контейнера */
  border-radius: 8px; /* Добавьте скругленные углы */
  background-color: #f9f9f9; /* Добавьте фон */
  width: 750px;
  display: flex;
  margin-bottom: 30px;

}
.image-container-plans {
  display: flex;
  flex-wrap: wrap; /* Позволяет изображению переноситься на новую строку */
  gap: 10px; /* Расстояние между изображениями */
  margin-top: 10px; /* Отступ сверху для отделения от других элементов */
}

.image-wrapper-plans {
  align-items: center; /* Центрирование изображения внутри обёртки */
  position: relative;
  display: inline-block;
}

.image-wrapper-plans img {
  display: block; /* Убирает любые дополнительные отступы или пробелы */
  width: 180px; /* Ширина изображения */
  height: 102px; /* Высота изображения */
  object-fit: cover; /* Изображение сохраняет пропорции и заполняет контейнер */
}

.image-wrapper-plans:hover .remove-image {
  opacity: 1; /* Показать крестик при наведении */
  position: relative; /* Установка относительного позиционирования для контейнера */
  display: inline-block;
}

.image-container-sites {
  position: relative;
  display: inline-block;
  width: 100%;
}

.modal-body {
  padding: 10px;
}
.modal_icon_select {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin: 3px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  transition: border-color 0.3s;
}
.modal_icon_select.active {
  border-color: var(--accent_color, #007bff);
}
.modal_icon_select i {
  font-size: 32px;
  color: var(--icon-color, #000);
}
.color-picker {
  margin-top: 10px;
}

.select_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Ширина для отображения увеличенной иконки */
  height: 50px; /* Высота для отображения увеличенной иконки */
  margin-left: 10px;
  background-color: none;
  font-size: 32px; /* Размер шрифта для увеличенной иконки */
}

.select_item i {
  font-size: 32px; /* Размер шрифта для иконки */
  color: var(--icon-color, #000);
}


.container-box {
  display: flex;
  align-items: center;
}

.color-picker-input {
  width: 30px;               /* Размер квадрата */
  height: 30px;              /* Высота квадрата */
  border: none;              /* Убираем обводку */
  border-radius: 3px;        /* Закругляем углы */
  padding: 0;
  cursor: pointer;           /* Меняем курсор на указатель при наведении */
  outline: none;             /* Убираем фокусное кольцо */
  -webkit-appearance: none;  /* Убираем стандартный стиль в WebKit-браузерах */
  -moz-appearance: none;     /* Убираем стандартный стиль в Mozilla-браузерах */
  appearance: none;          /* Убираем стандартный стиль во всех браузерах */
}

/* Поддержка для старых версий браузеров */
.color-picker-input::-webkit-color-swatch {
  border: none;              /* Убираем обводку внутри swatch */
  border-radius: 3px;        /* Закругляем углы внутри swatch */
}

.color-picker-input::-moz-color-swatch {
  border: none;              /* Убираем обводку внутри swatch */
  border-radius: 3px; 
}

.color-code {
  margin-left: 10px;         /* Отступ слева от палитры */
  font-family: 'Courier New', Courier, monospace; /* Моноширинный шрифт для кода цвета */
  font-size: 18px;           /* Размер текста */
  color: #050505;               /* Цвет текста */
}


.color-swatches {
  display: flex;
  flex-wrap: wrap;  
  gap: 1px;                  /* Отступ между цветами */
  margin-bottom: 10px;       /* Отступ снизу от палитры */
  overflow: visible;         /* Обеспечиваем, чтобы элементы не обрезались */
}

.color-swatch {
  width: 25px;               /* Размер квадрата */
  height: 25px;              /* Высота квадрата */
  border-radius: 1px;        /* Закругляем углы */
  cursor: pointer;           /* Меняем курсор на указатель при наведении */
  transition: transform 0.2s ease; /* Плавный переход при изменении размера */
}

.color-swatch:hover {
  transform: scale(1.2); /* Увеличение размера при наведении */
  cursor: pointer;       /* Изменение курсора на указатель */
  z-index: 10;           /* Поднимаем элемент над другими */
}


/* Контейнер для сайта */
.container-site-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Контейнер для списка сайтов */
.container-site-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Карточка для каждого сайта */
.site-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.site-card h4 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.site-card p {
  margin-bottom: 15px;
  font-size: 1.1em;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

/* Добавляем отступ перед текстом кнопки */
.action-buttons .btn i {
  margin-right: 5px;
}

.edit-link {
  display: inline-block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}

/* Общий стиль для кнопок действия */
.action-btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Меняем цвет кнопки на primary при наведении */
.action-btn:hover {
  background-color: #0d6efd; /* Цвет btn-primary */
  color: white;
  border-color: #0d6efd; /* Чтобы изменить цвет бордюра на primary */
}

.action-btn:hover i {
  color: white; /* Меняем цвет иконки на белый при наведении */
}

